body{
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background:black
}
.particleswrapper {
  height: 50px;
}
.navbar {
  height: 50%;
}
h1 {
  font-family: Helvetica, sans-serif;
  color: white;
}