body {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background: black;
}
.particleswrapper {
  height: 50px;
}
.particles {
  position: fixed;
  height: 100%;
  width: 100%;
}
.navbar {
  text-align: center;
  height: 50%;
}
p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
  color: white;
}
